*{
    margin: 0;
    padding: 0;
}

body{
    background: url(img/background.png) no-repeat center center /cover;
    background-size: cover;
    backdrop-filter: blur(8px);
    overflow: hidden;
}

button{
    display: none;
}

#container{
    height: 100vh;
    position: relative;
}

.header-btns{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

button{
    border: none;
    background-color: rgb(246, 190, 236);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: .6;

    margin: 35px 20px;
}

button:hover{
    opacity: 1;
    cursor: pointer;
    text-decoration: none;

}


button#cake-btn::before{
    content:'🎂';
    transform: scale(5);
}

button#candle-btn::before{
    content:'🕯️';
    transform: scale(5);
}

button#lighter-btn::before{
    content:'🔥';
    transform: scale(5);
}

button#clear-btn::before{
    content:'🌬️';
    transform: scale(5);
}


.table{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table img{
    position: absolute;
    top: 700px;
    width: 1200px;
}

.cake{
    position: absolute;
    width: 700px;
}

.candle{
    position: absolute;
    width: 30px;
}

.light{
    position: absolute;
    width: 30px;
    animation-name: beforeBlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes beforeBlow{
    0%{
        transform: rotatez(0);
    }

    25%{
        transform: rotatez(3deg);
    }

    75%{
        transform: rotatez(-3deg);
    }

    100%{
        transform: rotatez(0);
        
    }
}
