*{
    margin: 0;
    padding: 0;
}

body{
    background: url(img/background.png) no-repeat center center /cover;
    backdrop-filter: blur(8px);
    overflow: hidden;
}

button{
    display: none;
}

#container{
    height: 100vh;
    position: relative;
}

.header-btns{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

button{
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 35px 20px;
}

button:hover{
    opacity: .5;
    cursor: pointer;
    text-decoration: none;

}


button#cake-btn::before{
    content:'🎂';
    transform: scale(5);
}

button#candle-btn::before{
    content:'🕯️';
    transform: scale(5);
}

button#lighter-btn::before{
    content:'🔥';
    transform: scale(5);
}

button#blow-btn::before{
    content:'🌬️';
    transform: scale(5);
}

button#remove-btn{
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    width: 60px;
    height: 40px;
}


.table{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table img{
    position: fixed;
    top: 700px;
    width:1200px;
}

.cake{
    position: absolute;
    width: 500px;
}

.candle{
    position: absolute;
    width: 30px;
}

.light{
    position: absolute;
    width: 30px;
    animation-name: beforeBlow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.light.smoke{
    width: 20px;
    opacity: .5;
    animation-name:  afterBlow;
    animation-duration: 5s ;
    animation-iteration-count: 1;
}

.aviso{
    display: none;
}

@keyframes beforeBlow{
    0%{
        transform: rotatez(0);
    }

    25%{
        transform: rotatez(3deg);
    }

    75%{
        transform: rotatez(-3deg);
    }

    100%{
        transform: rotatez(0);
        
    }
}

@keyframes afterBlow{
    0%{
        opacity: .5;
        height: 38.97px;
        transform: rotateY(0);

    }

    100%{
        top: 0;
        opacity: 0;
        height: 200px;
        transform: rotateY(180deg);

    }
}

.audio{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 10px;
}
/*
@media (max-width: 768px) {
    
    body{
        background: none;
    }

    #container{
        display: none;
    }
    .aviso{
        background:url(img/background.png) no-repeat center center /cover;
        display: block;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .aviso h1{
        font-family: Arial, Helvetica, sans-serif;
        margin: 15px;
        padding: 15px;
        background-color: rgba(183, 123, 176, 0.512);
        border-radius: 30px;
        color: white;
        transform: uppercase;
        text-align: center;
        font-size: 2rem;
        height: 80%;
        display: flex;
        align-items: center;
    }

}
*/

@media (max-width: 768px) {

    .table{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .table img{
        position: fixed;
        top: 611px;
        width:500px;
    }
    
    .cake{
        width: 300px;
    }
    

    .header-btns{
        width: 100vw;
        flex-direction: row;
    }

    button{
        border: none;
        background-color: transparent;

        margin: 0px 20px;
    }

    button#cake-btn::before{
        content:'🎂';
        transform: scale(3);
    }

    button#candle-btn::before{
        content:'🕯️';
        transform: scale(3);
    }

    button#lighter-btn::before{
        content:'🔥';
        transform: scale(3);
    }

    button#blow-btn::before{
        content:'🌬️';
        transform: scale(3);
    }

    .audio{
        justify-content: center;
    }

}
